
DevBuggerDesktop/DevBuggerDesktop/obj/Debug/Pages/AccountsPage.baml
DevBuggerDesktop/DevBuggerDesktop/obj/Debug/Pages/AccountsPage.baml
DevBuggerDesktop/DevBuggerDesktop/obj/Debug/Pages/GamesPage.baml
DevBuggerDesktop/DevBuggerDesktop/obj/Debug/Windows/AccountDetailWindow.baml
DevBuggerDesktop/DevBuggerDesktop/obj/Debug/Windows/DashboardWindow.baml
